@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Playfair",serif;
}
header{
    background-color: #40a8f7;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
header h1{
    margin: 25px;
    font-weight: bold;
    font-size: xx-large;
}
header nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul{
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    display: flex; 
    font-weight: bold;
    font-size: x-large;
}
nav ul li{
    display: block;
    padding: 14px 16px;
}
nav ul li a{
    display: flex;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    color: bisque;
}
.hero{
    height: 600px;
    background-image: url(img/1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
.hero .contant{
    font-weight: bold;
    color: black;
    font-size: xx-large;
    position: relative;
    z-index: 2;
    transform: translateY(-50%);
}
.contant button{
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    font-size: 18px;
    color: white;
    background-color: #40a8f7;
    text-decoration: none;
    transition: all 0.3s ease;
}
.contant button:hover{
    background-color: bisque;
}
.bg{
    background-color: #40a8f7;
    margin: 5px 20px;
    display: flex;
    text-align: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 2px;    
}
.bg .image{
    border-radius: 2px;
    display: flex;
    margin: 5px;
}
.bg .image .about{
    text-align: center;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
}
footer{
    border: 2px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
}
footer p{
    color: white;
    font-size: x-large;
    font-weight: bold;
}